.carsoal{
    
}

.secondimage{
    margin-bottom: 1%;
    
}

.secondimage1{
    margin-bottom: 5%;
    
}

.text1{
    margin-left: -60%;
    color: darkgray;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.text2{
    margin-right: -60%;
    margin-top: -21.5%;
    color: darkgray;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.dummyss{
    width: 100%;
    
}