.inputforreedm{
    border-color: "black";
    
   
    border-radius: "30px";
    width: 30%;
    margin-left: 40%;
}

.maingood{
    background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1167,c_limit/4f02b88a-0777-4178-8ae3-adcd0bfd940b/nike-just-do-it.jpg);
}
.inputboxfied{
    padding-top: 25%;
    text-align: center;
    padding-bottom: 25%;
    display: flex;
}