.SalePage{
    background-color: white;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    overflow: hidden;
}

.poiuyt{
    background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1263,c_limit/e4235adb-7ef9-4ffb-9b10-966da54143b1/nike-back-to-school.jpg);
}

.allsaleproducts{
    background-color: white;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    overflow: hidden;
}

.launchbutton{
    border: none;
    background-color: black;
    color: white;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 30px;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.launchbuttonmoving{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}