.SalePage{
    background-color: white;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    overflow: hidden;
}



.allsaleproducts{
    background-color: white;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    overflow: hidden;
}

.launchbutton{
    border: none;
    background-color: black;
    color: white;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 30px;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.launchbuttonmoving{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}