

.mainrun{
    font-family: fantasy;
    text-align: center;
    color: black;
    transition-property: color;
    font-size: 400%;
    cursor: pointer;
}

.smalltext{
    padding-right: 180px;
    padding-left: 180px;
    font-weight: bolder;
}


.explorebuttoncenter{
    padding-top: 2%;
    
    text-align: center;
}

.exploremensbutton{
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
}

.mainrun3mens{
    font-size: xxx-large;
    text-align: center;
    color: black;
    font-family: fantasy;
    margin-left: 45%;
    margin-top: -8%;
}


.trendingfont{
    font-family: NHaasGroteskTXW02-75Bd, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 5%;
}




@media only screen and(max-width:"600px"){
    .trendingfont{
        font-size: x-large;
        padding-top: 15%;
        padding-bottom: 5%;
    }

    .mainrun{
        font-size: x-large;
    }

    .smalltext{
        font-size: 8px;
        padding-left: 10px;
        padding-right: 1px;
        font-weight: 400;
    }

    .bikes{
        width: 40%;
    }

    .dropin{
        margin-left: -15%;
        margin-top: -35%;
    }
}