.Running{
    background-color: white;
    text-align: center;
    padding-top: 1%;
    cursor: pointer;
    padding-bottom: 3%;
    transition-property: background-color;
    transition-duration: inherit;
}

.Running:hover{
   
}

.bad{
    background-color: white;
    color: black;
    
}





.smalltext{
    text-align: center;
}

.butns{
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
    
}

.bikes{
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: none;
}

.dropin{
    background-color: black;
    color: black;
    margin-top: -10%;
    margin-left: -7%;
}

.dawd{
    color: white;
}