.menssections{
    background-color: white;
    overflow: hidden;
}

.menssectiontitle{
    padding-top: 2%;
    margin-left: 5%;
    font-size: x-large;
    font-weight: 400;
}

.essentailsmen{
    margin-left: 10%;
}


.mensproductname{
    text-align: left;
    color: black;
}

.mensproductgender{
    text-align: left;
}
.cardcarsol{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.mensproductprice{
    margin-top: -20%;
    text-align: right;
    color: black;
}