.menssections{
    background-color: white;
    overflow: hidden;
    
}

.menssectiontitle{
    padding-top: 2%;
    margin-left: 5%;
    
    font-size: x-large;
    font-weight: 400;
    
    z-index: 1;
    background-color: white;
}

.tshirtmens{
    position: absolute;
    margin-left: 50%;
}

.clothingmens{
    position: absolute;
    margin-top: 31%;
    margin-left: 1%;
}

.tshortbutton{
    position: absolute;
    margin-left: 55%;
    margin-top: -35%;
    border: none;
    background-color: white;
    color: black;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 30px;
}

.clothingbuttons{
    position: absolute;
    margin-left: 54%;
    margin-top: -6%;
    border: none;
    background-color: white;
    color: black;
    padding-right: 0.1%;
    padding-left: 0.1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 30px;
}

.shortsbutton{
    position: absolute;
    margin-left: 8%;
    margin-top: -6%;
    border: none;
    background-color: white;
    color: black;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 30px;
}


.essentailsmen{
    margin-left: 2%;
}


.mensproductname{
    text-align: left;
    color: black;
}

.mensproductgender{
    text-align: left;
}
.cardcarsol{
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.mensproductprice{
    margin-top: -20%;
    text-align: right;
    color: black;
}