.nikescroll{
    clip-path: rectangle();
    color: white;
    width: 5%;
    margin-left: 48%;
    cursor: pointer; 
    transition-property:color;
    
}

.bjimkw{
    font-size: 10px;
    margin-top: -7.5%;
    margin-left: 1%;
    cursor: pointer;
}


.imageh{
    width: 10%;
}


.hu{
    width: 30%;
    padding-top: 2%;
}

.jknwiandkiwa{
    margin-top: 1%;
  }

  .nunwdaw{
    float: left;
  }

  .sa{
    background-color: black;
  }

  .ounwn{
    color: white;
    text-align: center;
  }

  .ndwakom{
    color: white;
  }