.nikescroll{
    clip-path: circle();
    color: white;
    width: 20%;
    margin-left: 40%;
    cursor: pointer; 
    transition-property:color;
}

.nikescroll:hover{
    color: black;
    width: 22%;
    border-color: black;
}


.imageh{
    width: 10%;
}


.hu{
    width: 10%;
    
}