.titlesssss{
    padding-top: 4%;
    color: black;
    margin-left: 4%;
    font-size:x-large;
}

.bodyingss{
    padding-top: 50%;
    margin-left: 5%;
    width: 90%;
    background-color: white;
    background-image: url("https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1167,c_limit/79357b2f-6904-4f96-b214-de3e8f44c6f0/nike-just-do-it.png");
}

.dbwajhfniawn{
    background-color: white;
}


.kjkfuyrebhf{
    width: 100%;
   
}