

.rate {
	text-align: center;
	width: 200px;
	height: 200px;
	ouline: thin solid lightgray;
}
.emoji {
	font-size: 120px;
	height: 170px;
	line-height: 170px;

}

input {
	cursor: ew-resize;
}

.explore{
	text-align: center;
	font-size: x-large;

}

.purplecolor{
	font-size: small;
}

.browncolor{
	font-size: small;
	margin-left: 1%;
}


.dot4 {
    height: 30px;
    width: 30px;
    margin-top: 33%;
    background-color: white;
    border-radius: 50%;
    margin-left: 15%;
    display: inline-block;
    cursor: pointer;
    
  }

  .dot5 {
    height: 30px;
    width: 30px;
    margin-top: 33%;
    background-color: white;
    border-radius: 50%;
    margin-left: 3%;
    display: inline-block;
    cursor: pointer;
    
  }







