* {
    box-sizing: border-box;
  }
  .titlesssssss{
    color: black;
    font-weight: bolder;
    letter-spacing: 0.01ch;
    font-size: x-large;
    font-family:NHaasGroteskTXW02-75Bd, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 4%;
  }

 
  .titles{
    color: black;
    font-size: x-large;
    font-weight: bolder;
    letter-spacing: 0.01ch;
    font-family:NHaasGroteskTXW02-75Bd, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 4%;
  }

  .smalltexting{
    text-align: center;
    color: black;
  }
  

  .bodying{
    background-color:white;
  }
  .column {
    float: left;
    width: 45%;
    padding: 10px;
    margin-left: 4%;
    cursor: pointer;
  }

  .columns {
    
    width: 90%;
    cursor: pointer;
    margin-left: 4%;
  }


  .column2{
    float: left;
    width: 45%;
    padding: 10px;
    margin-left: 0%;
    cursor: pointer;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .bottom-text{
    position: absolute;
  bottom: 18%;
  margin-left: 2%;
  font-size: larger;
  font-family: NHaasGroteskTXW02-75Bd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  }

  .bottom-textkids{
  position: absolute;
  bottom: 18%;
  margin-left: 2%;
  font-size: xx-large;
  font-weight: 500;
  font-family: NHaasGroteskTXW02-75Bd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.001ch;
  font-family: fantasy;
  color: white;
  }

  .bottom{
    position: absolute;
    bottom: 18%;
    margin-left: 2%;
    font-family: NHaasGroteskTXW02-75Bd, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.001ch;
    color: white;
    font-size: larger;
  }

  .bottomkids{
    position: absolute;
    bottom: 18%;
    margin-left: 2%;
    color: white;
    letter-spacing: 0.001ch;
    font-size: xx-large;
    font-weight: 500;
    font-family: fantasy;
  }
  
  .bottomss{
    position: absolute;
    bottom: 17%;
    font-family: fantasy;
    font-size:500%;
    margin-left: 2%;
    color: white;
    
  }

  .shope{
    width: 7%;
    height: 8%;
    position: absolute;
    margin-left: -42%;
    bottom: 7%;
    background-color: white;
    border-radius: 35px;
    border: none;
  }

  .mainrunmens{
    font-family: fantasy;
    font-size:0.5in;
    color: black;
    margin-top: -20%;
    margin-left: 2%;
  }

  .mensing{
    padding-bottom: 5%;
  }

  .butnsmens{
    padding-top: 2%;
    margin-left: 2%;
  }

  .smalltextingmensing{
    color: black;
    font-size: small;
    margin-left: 2%;
  }

  .smalltextingmens{
    color: black;
    font-size: small;
    margin-left: 2%;
  }

  .butnskids{
    margin-left: 22%;
    bottom: 7%;
    background-color: black;
    color: white;
    border-radius: 35px;
    border: none;
    padding-bottom: 5%;
  }

  .shopse{
    width: 7%;
    height: 8%;
    position: absolute;
    margin-left: -80%;
    bottom: 7%;
    background-color: white;
    border-radius: 35px;
    border: none;
    
  }

  .mainrunkid{
    color:black;
    font-size: xxx-large;
    font-family: fantasy;
    margin-left: 4%;
    margin-top: -20%;
  }

  .smalltextingkids{
    text-align: left;
    color: black;
    margin-left: 4%;
  }



  @media only screen and(max-width:"600px"){
    .titlesssssss{
      margin-top: -10%;
      padding-bottom: 2%;
    }

    .bottom-text{
      font-size: small;
      margin-bottom: 5%;
      margin-left: 0.5%;
    }

    .bottom{
      font-size: small;
      margin-bottom: 5%;
      margin-left: 0.5%;
    }

    .shope{
      width: 15%;
      margin-left: -38%;
      margin-bottom: 1%;
      padding-top: 2%;
      padding-bottom: 7%;
    }


    .smalltexting{
      font-size: small;
    }
  }