.emailer{
    background-color: white;
}

.mailerinf{
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
    text-align: center;
    
}

.totaldetails{
    color: black;
}


.btunemail{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 80%;
}


.inputmailer{
    margin-left: 45%;
}