.backgroundfcard{
    background-size: contain;
    background-position-y: 25%;
    background-repeat: no-repeat;
    background-image: url(https://static.nike.com/a/images/f_auto/dpr_1.5,cs_srgb/w_1167,c_limit/836143a5-6b94-45c6-94cc-4a4ab468187b/jordan.jpg);
}