*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  :root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
  }

  .iwadniawn{
    color: black;
    text-align: center;
  }
  .redcolor{
    margin-left: 35%;
    font-size: small;
  }
  .whitecolor{
    margin-left: 20%;
    font-size: small;
    
  }
  .colorsector{
   
    margin-left: 15%;
    padding-bottom: 10%;
    font-weight: 410;
  }

  .line-3{
    margin-left: 15%;
  }

  .orangecolor{
    margin-left: 2%;
    font-size: small;
  }

  .browncolor{
    margin-left: -35%;
    font-size: small;
  }

  .uwinajn{
    float: left;
    color: black;
    padding-left: 15%;
    padding-top: 2%;
  }

  .trendswitch{
    margin-top: -9%;
    margin-left: 45%;
    cursor: pointer;
  }

  .switchswift{
    margin-left: 30%;
    cursor: pointer;
  }

  .bjdwanka{
    background-color: black;
    color: white;
    transition-property: background-color;
    border: none;
    margin-left: 14%;
  }
  .bjdwanka:hover{
    background-color: black;
  }

  .uwinajnsds{
    color: black;
   
  }
  .jawdjawd{
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
   
  }

  .dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    margin-left: 35%;
    display: inline-block;
    cursor: pointer;
   
  }

  .dot1 {
    height: 30px;
    width: 30px;
    margin-top: 32%;
    background-color: white;
    border-radius: 50%;
    margin-left: 30%;
    display: inline-block;
    cursor: pointer;
    border:0.5px solid;
    border-color: black;
    
  }

  .dot2 {
    height: 30px;
    width: 30px;
    margin-top: 25%;
    background-color: white;
    border-radius: 50%;
    margin-left: 10%;
    display: inline-block;
    cursor: pointer;
    
  }


  .dot3 {
    height: 30px;
    width: 30px;
    margin-top: 33%;
    background-color: white;
    border-radius: 50%;
    margin-left: -25%;
    display: inline-block;
    cursor: pointer;
    
  }

  .jfefwinda{
    font-weight: 400;
    margin-left: 14%;
  }

  .nidnwa{
    padding-top: 0%;
  }

  .njwnak{
    margin-left: 25%;
    background-color: #353535;
    border: none;
  }

  .jawdjawd{
    text-align: left;
  }

  .kwjdnjwakwn{
    padding-top: 5%;
    font-weight: 500;
  }

  .categoryandcategory{
    color: grey;
  }
 
  
  .sidebardwadwadaw{
    
    float: left;
    width: 260px;

    
    
  }
  .sidebardwadwadaw header{
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
    font-family: 'Lato', sans-serif;
  }
  .sidebardwadwadaw a{
    display: block;
    height: 45px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 32px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
  }
  
  .sidebardwadwadaw a i{
    font-size: 23px;
    margin-right: 12px;
  }
  .sidebardwadwadaw a span{
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: #d6adff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #e8d1ff;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
     3.5px 3.5px 20px 0px rgba(0,0,0,.1),
     2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  @media(max-width : 860px){
    .sidebardwadwadaw{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebardwadwadaw a{
      height: 20px;
    }
    .sidebardwadwadaw a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebardwadwadaw a:hover span{
      opacity: 1;
      visibility: visible;
    }
  }
  
  .sidebardwadwadaw > a.active,.sidebardwadwadaw > a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
  }
  .sidebardwadwadaw a.active,.sidebardwadwadaw > a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
  }
  
  
  .frame {
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
  }
  



 
  
