.popularthings{
    padding-top: 5%;
    text-align: center;
    cursor: pointer;
}

.smalltext11{
    text-align: center;
    color: black;
}

.butonseefs{
    padding-top: 4%;
    text-align: center;
}

.smallsdas{
    background-color: black;
    border-radius: 30px;
    border: none;
}