.popularthings{
    padding-top: 5%;
    text-align: center;
    cursor: pointer;
    
   
}



.mainrunformens{
    font-family: fantasy;
    text-align: left;
    color: black;
    transition-property: color;
    font-size: 400%;
    cursor: pointer;
    margin-left: 7%;
    margin-top: -45%;
    user-select: none;
}

.mainrunforkids{
    font-family: fantasy;
    text-align: left;
    color: white;
    transition-property: color;
    font-size: 400%;
    cursor: pointer;
    margin-left: 7%;
    margin-top: -20%;
}

.mainrunforkidss{
    font-family: fantasy;
    text-align: left;
    color: white;
    transition-property: color;
    font-size: 400%;
    cursor: pointer;
    margin-left: 7%;
    margin-top: -2%;
}

.mainrunformens111{
    font-family: fantasy;
    text-align: left;
    color: black;
    transition-property: color;
    font-size: 400%;
    cursor: pointer;
    margin-left: 7%;
    margin-top: -2%;
    user-select: none;
}

.smalltext11{
    user-select: none;
    text-align: center;
    color: black;
}

.smalltext1111{
    margin-left: 7%;
    color: black;
    user-select: none;
}

.smalltextkidsd{
    margin-left: 7%;
    margin-top: 0%;
    color: white;
    user-select: none;
}

.butonseefs{
    padding-top: 4%;
    text-align: center;
}

.butonseefs11{
    padding-top: 1%;
    margin-top: -1%;
    margin-left: 10%;
}



.smallsdas11{
    background-color: black;
    border-radius: 30px;
    border: none;
    width: 10%;
    height: 10%;
}

.smallsdas{
    background-color: black;
    border-radius: 30px;
    border: none;
    padding-top: 1%;
    width: 15%;
    padding-bottom: 1%;
}



//media

@media only screen and(max-width:"600px"){
    .mainrunforkids{
        font-size: 20px;
    }
    .mainrunforkidss{
        font-size: 20px;
    }

    .smalltextkidsd{
        font-size: small;
        padding-left: 5%;
        padding-right: 40%;
        margin-top: -12%;
        margin-left: 22%;
        font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    }

    .butonseefs11{
        margin-top: -4%;
        margin-left: 7%;
    }

    .smallsdas11{
        width: 20%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
    }
}