.bodying{
    background-color: white;
    height: 100%;
    width: 100%;
    color: black;
    
}


.rederningew{
    text-align: center;
    font-size: xxx-large;
    font-family: fantasy;
}

.rederningew1{
    font-size: x-large;
    text-align: center;
}
   