.MultiCarousel {
    float: left;
    position: relative;
    
    cursor: pointer;
    
}

.MultiCarousel {
    height: 100px;
    width: 930px;
}

.containeriknjein{
  margin-left: 3%;
}

.bodydkmkdkwa{
  background-color: white;

}

.similarsbudwaw{
  font-size: x-large;
  color: black;
  margin-left: 4%;
  font-weight: bolder;
}


.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
    
}

.efecb{
  margin-left: 2%;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    width: 130%;
    background: white;
    color: #666;
   
}



.MultiCarousel .leftLsts{
    margin-left: 115%;
    margin-top: -110%;
    border-radius: 50%;
    top: calc(50% - 100px);
    background-color: black;
    border: none;
}
.MultiCarousel .rightLsts {
    margin-left: 120%;
    margin-top: -115.3%;
    border-radius: 30px;
    top: calc(50% - 100px);
    background-color: black;
    border: none;
}

.MultiCarousel .leftLsts {
    right: 0;
}

.MultiCarousel .rightLsts {
    
    right: 0;
}

.MultiCarousel .leftLsts.over,.MultiCarousel .rightLsts.over {
    pointer-events: none;

}

