.ess{
    padding-top: 3%;
    text-align: center;
    cursor: pointer;
}

.imagesizes{
    margin-left: 1.5%;
}

.esstext{
    padding-top: 5%;
    font-size: x-large;
    color: black;
    margin-left: 4%;
}

.clothing{
    font-size: x-large;
    color: black;
    margin-left: 5%;
    cursor: pointer;
}

.shoes{
    font-size: x-large;
    color: black;
    margin-left: 25%;
    cursor: pointer;
}

.gear{
    font-size: x-large;
    color: black;
    margin-left: 25%;
    cursor: pointer;
}

.alltext{
    padding-top: 4%;
    display: flex;
}